@charset "utf-8";
/* CSS Document - estilos site altec wilsongay*/

/* divs principais da index, geralmente divs essencias bases */
#tudo {
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	width:100%;
	height:100%;
	}
#topo {
	width:884px;
	height:136px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(imagens/fundo-topo-lampada1.jpg);
}
#procurar {
	width:250px;
	height:33px;
	float:left;
	}
#bannerflash {
	width:822px; 
	height:210px;
	float:left;
	}	
#rodape {
	bottom:0px;
	width:auto;
	height:auto;
	}	

/* pagina de produtos e serviços */

.containerservico {
	width:419px;
	height:110px;
	clear:both;
	background-color:#E1E9FE;
	line-height:150%;
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
	}
.textoservico {
	width:300px;
	font-family:calisto;
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:10px;
	 color:#000;
	 height:110px;
	 text-indent:10px;
	 float:left;
	 }
.fotoservico {
	width:80px;
	height:85px;
	border-width:5px;
	border-style:solid;
	border-color:#FFF;
	float:left;
	margin-top:8px;
	margin-bottom:8px;
	margin-left:8px;
	margin-right:8px;	
	}

.tituloconteudo{
	width:439px;
	height:30px;
	float:left;
	font-family:myriad;
	font-size:20px;
	text-align:left;
	text-indent:10px;
	color:#226091;
	line-height:30px;
	}

.fotoproduto {
	width:224px; 
	height:230px;
	float:left;
	margin-left:10px;
	border-color:#CCC;
	border-width:5px;
	border-style:solid;
	margin-top:5px;
	}
.fotoprodutopequena {
	width:80px;
	height:80px;
	border-width:5px;
	border-color:#CCC;
	border-style:solid;
	float:left;
	margin-left:10px;
	}
.fotoprodutomini {
	width:32px;
	height:32px;
	float:left;
	margin-left:5px;
	margin-top:3px;
	border-width:2px;
	border-style:solid;
	border-color:#CCC;
	}		
/* cuidar, pois tem classes SERVIÇO  e categoria SERVIÇOS */
.containerservicos {
	width:792px;
	height:100px;
	float:left;
	clear:both;
	background-color:#E1E9FE;
	line-height:150%;
	margin-bottom:15px;
	}
.fotoservicos {
	width:85px;
	height:85px;
	float:left;
	border-width:3px;
	border-style:solid;
	border-color:#FFF;
	margin-top:5px;
	margin-bottom:4px;
	margin-left:5px;
	margin-right:5px;
	}	
.textoservicos {
	width:608px;
	height:90px;
	margin-top:5px;
	margin-right:5px;
	float:left;
	text-align:justify;
	font-size:12px;
	font-family:myriad;
	color:#226091;
	line-height:150%;
	}	
	
.containercategoria {
	width:132px;
	height:180px;
	float:left;}
.fotocategoria {
	width:120px;
	height:127px;
	float:left;
	border-style:solid;
	border-width:6px;
	border-color:#FFF;
	}	

.selecionarpaginas {
	width:614px;
	height:50px;
	float:left;
	clear:both;
	text-align:center;
	font-size:14px;
	font-family:myriad;
	line-height:50px;
	color:#226091;
	}
/* menus azuis lateral */

/* menus azuis laterias */

div.menulateral {
	width:152px;
	height:auto;
	float:left;
	background-color:#BED0FC;}
div.bannerdireita {
	width:184px;
	 height:auto; 
	 float:left;
	}
div.linhas {
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	float:center;
	min-height:50px;
	}
div.linhascentro {
	width:884px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-left:auto;
	margin-right:auto;
	float:center;
	min-height:50px;
	display:block;
	}		
div.branco {
	float:left;
	margin:0px;
	text-align:left;}